/development-notes/
venv/
__pycache__/
*.pyc
.DS_Store
.idea/
logs/
*.log
*.sqlite3
*.env
test*.py
debug*.py

#data pipeline outputs
data-pipeline/raw_data/
data-pipeline/processed_data/

#frontend build outputs
frontend/dist/
frontend/node_modules/

#frontend environment
frontend/.env.local
frontend/.env.*.local



