/development-notes/
venv/
__pycache__/
*.pyc
.DS_Store
.idea/
logs/
*.log
*.sqlite3
*.env
data-pipeline/scripts/test*.py
data-pipeline/scripts/debug*.py

/node_modules/

#data pipeline outputs
data-pipeline/raw_data/
data-pipeline/processed_data/

#frontend build outputs
frontend/dist/
frontend/node_modules/

#frontend environment
frontend/.env.local
frontend/.env.*.local



